.appContent {
  margin: 20px 40px;
  /* border: 1px solid red; */
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
  opacity: 1;
}

input::placeholder {
  color: red;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.react-datepicker-wrapper {
  width: auto;
}
