.appContent {
  margin: 20px 40px;
  /* border: 1px solid red; */
}

.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
  opacity: 1;
}

input::placeholder {
  color: red;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.react-datepicker-wrapper {
  width: auto;
}

.custom-tooltip {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip-content {
  margin-top: 8px;
}

.tooltip-content p {
  margin: 0;
}

.tooltip-content p span {
  font-weight: bold;
}
