* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: white;
}

/* Semantic UI dropdown options */
.ui.dropdown .menu > .item > span {
  color: black !important;
}

.custom-toast {
  color: black !important;
}

.custom-toast div {
  color: black !important;
}

.custom-toast-body {
  color: black !important;
}

.custom-toast-body div {
  color: black !important;
}
